{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({%static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2>Noteb<s>(log)</s>ook</h2>
                    <span class="subheading">I'm delighted to have you here. 
                        Please, find my resume attached at the top right corner or just enjoy 
                        some posts below.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in post_list %}
            <div class="post-preview">
                <a href="{% url 'post_detail' post.slug  %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.content|slice:":200" }}
                    </h3>
                </a>
                <p class="post-meta">Posted by {{ post.author }}</p>
            </div>
            <hr>
            {% endfor %}

            {% if is_paginated %}
            <nav aria-label="Page navigation conatiner"></nav>
            <ul class="clearfix justify-content-right">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <!-- <a href="?page=1">&laquo; first</a> -->
                        <a type="button" class="btn btn-outline-secondary btn-sm float-left" href="?page={{ page_obj.previous_page_number }}"> &laquo;Newer</a>
                    {% endif %}
            
                    <!-- <span class="btn btn-primary btn-sm float-center">
                        {{ page_obj.number }} - {{ page_obj.paginator.num_pages }}
                    </span> -->
            
                    {% if page_obj.has_next %}
                        <a type="button" class="btn btn-outline-secondary btn-sm float-right" href="?page={{ page_obj.next_page_number }}">Older &raquo;</a>
                        <!-- <a class="btn btn-primary float-right" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
                    {% endif %}
                </span>
            </ul>
            </nav>
            </div>
            {% endif %}
            <!-- Pager -->
            
        </div>
    </div>
</div>

<hr>
{% endblock %}